$primary-color: color("materialize-red") !default;

/*1976D2*/

$primary-color-light: false !default;
$primary-color-dark: false !default;

@if not $primary-color-light {
    $primary-color-light: lighten($primary-color, 15%);
}
@if not $primary-color-dark {
    $primary-color-dark: darken($primary-color, 15%);
}